body{
    font-size:76%;
    font-family:"Helvetica","Arial",sans-serif;
}
body *{
    font-size:1em;
}
a{
    font-weight:bold;
    text-decoration:none;
}
header nav{
    font-family:"Lucida Grande","Helvetica","Arial",sans-serif;
}
header nav a{
    text-decoration:none;
    font-weight:bold;
}
h1{
    font-family:"Georgia","Times New Roman",sans-serif;
    font-size:2.4em;
    line-height: 1.8em;
}
h2{
    font-family:"Georgia","Times New Roman",sans-serif;
    font-size:1.8em;
    font-weight:bold;
}

h3{
    font-family:"Georgia","Times New Roman",sans-serif;
    font-size:1.4em;
    margin-top:1em;
}

#aside li {
    letter-spacing:3px;
}

#intro a {
    font-family:"Microsoft YaHei" !important;
    font-size: 1.2em;
}

#description{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

li{
    list-style-type:none;
}
  /*修改提示文字的颜色*/

input::-webkit-input-placeholder,
#message::-webkit-input-placeholder { /* WebKit browsers */ 
    color: red;
} 

input:-moz-placeholder,
#message:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: red;
} 

input::-moz-placeholder,
#message::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: red;
} 

input:-ms-input-placeholder,
#message:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: red;
}

#message::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 1.5em;
} 

#message:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    font-size: 1.5em;
} 

#message::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    font-size: 1.5em;
} 

#message:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    font-size: 1.5em;
}
